@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

/* Type */

body, input{
    color: #414f57;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 54pt;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
body{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
	background-size: cover;
    background-repeat: no-repeat; /* Répétition de l'image d'arrière-plan */
    background-size: cover; /* Redimensionnement de l'image d'arrière-plan pour couvrir toute la zone */
    background-position: center center; /* Position de l'image d'arrière-plan */
    /* Autres propriétés d'arrière-plan optionnelles */
}

input{
    background-color: #449ED7;
    color: #083553;
}

@media screen and (max-width: 1680px) {
    body, input{
        font-size: 11pt;
    }
}

@media screen and (max-width: 480px) {
    body, input{
        font-size: 10pt;
        line-height: 1.75;
    }
}

h1 {
    color: inherit;
    text-decoration: none;
    font-size: 1.85em;
    letter-spacing: 0.22em;
    margin: 0 0 0.525em 0;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.65em;
    }
}

hr {
    border: 0;
    border-bottom: solid 1px #c8cccf;
    margin: 3em 0;
}

/* Form */

    .field {
        margin: 0 0 1.5em 0;
    }

	input[type="text"], input[type="tel"]{
		border-radius: 15px;
		border: solid 1px #c8cccf;
		color: #ffffff;
		display: block;
		width: 100%;
		height: 2.75em;
	}

	input[type="text"]:hover, input[type="tel"]:hover{
        background-color: #c8cccf;
        border-color: #083553;
        color: #083553;
	}

	input[type="file"]{
	    background-color: transparent;
		width: 100%;
	}

/* Boutons */

input[type="submit"],
.button {
	line-height: 2.75em;
    padding: 0 1.5em;
    background-color: #083553;
    border-radius: 20px;
    border: solid 1px #c8cccf;
    color: #c8cccf;
    text-align: cente
}

input[type="submit"]:hover,
.button:hover {
	background-color: #c8cccf;
    border-color: #083553;
    color: #083553;
}

.field input[type="radio"] {
  transform: scale(3.2); /* Ajustez la valeur pour la taille de base des boutons */
  margin-right: 10px; /* Espacement entre les boutons radio et les labels */
}

@media screen and (max-width: 1680px) {
  .field input[type="radio"] {
    transform: scale(1.2); /* Ajustez la valeur pour la taille des boutons sur les écrans plus petits */
  }
}
/* Main */

#main {
	position: relative;
	max-width: 100%;
	min-width: 27em;
	padding: 4.5em 3em 3em 3em ;
	border-radius: 4px;
	cursor: default;
	opacity: 0.95;
	text-align: center;
	transform-origin: 50% 50%;
	transform: rotateX(0deg);
	transition: opacity 1s ease, transform 1s ease;
}

#main .avatar {
	position: relative;
	display: block;
	margin-bottom: 1.5em;
}

#main .avatar img {
	display: block;
	margin: 0 auto;
	border-radius: 100%;
	box-shadow: 0 0 0 1.5em #ffffff;
}

#main .avatar:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: -3em;
	width: calc(100% + 6em);
	height: 1px;
	z-index: -1;
	background: #c8cccf;
}

@media screen and (max-width: 480px) {
	#main {
		min-width: 0;
		width: 100%;
		padding: 4em 2em 2.5em 2em ;
	}

	#main .avatar:before {
		left: -2em;
		width: calc(100% + 4em);
	}
}

body.is-loading #main {
	opacity: 0;
	transform: rotateX(15deg);
}

/* Footer */

	#footer {
		-moz-align-self: -moz-flex-end;
		-webkit-align-self: -webkit-flex-end;
		-ms-align-self: -ms-flex-end;
		align-self: flex-end;
		width: 100%;
		padding: 1.5em 0 0 0;
		color: rgba(255, 255, 255, 0.75);
		cursor: default;
		text-align: center;
	}

		#footer .copyright {
			margin: 0;
			padding: 0;
			font-size: 1.9em;
			list-style: none;
		}

/* Wrapper */

	#wrapper {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-perspective: 1000px;
		-webkit-perspective: 1000px;
		-ms-perspective: 1000px;
		perspective: 1000px;
		position: relative;
		min-height: 100%;
		padding: 1.5em;
		z-index: 2;
	}
		@media screen and (max-width: 360px) {

			#wrapper {
				padding: 0.75em;
			}

		}

		body.is-ie #wrapper {
			height: 100%;
		}